 /*CSS RULES  */

/* Basic Reset */
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

/* Primary Padding */
.pry_pad {
   padding: 15px;
}

.sdy_pad {
   padding: 10px;
}

/* Primary Margin */
.pry_mgn {
   margin-left: 15px;
}


/* HEADER RULES */

img {
   height: 1.25rem; 
   width: 1.25rem;
}

img[alt="search icon"] {
   height: 1rem;
   width: 1rem;
}

.dfc {
   display: flex;
   justify-content: center;
   align-items: center;
}


header {
   display: grid; 
   grid-template-columns: 1fr 2fr 1fr; 
   gap: 1.5rem; 
   padding: 15px 0 15px 15px;
   justify-content: space-around;
   align-items: center;
}

.right_header_icons {
   gap : 1.8rem; 
}

input {
   height: 1.5rem; 
   width: 15rem ; 
}


.search_container {
   background-color: yellow;
   height: 2rem;
   width: 20rem;
   gap:5px; 
   justify-content: flex-start;
   padding-left:5px;
}


/* MAIN CONTENT AREA */
/* Layout for the main content area */
#main_content_area {
   display: grid; 
   grid-template-columns: 1.25fr 5fr;
}

/* SIDE BAR RULES */
.sidebar {
   background-color: grey;
   display: grid;
   grid-template-rows: repeat(2, 2fr) 0.5fr;
}



/* Layout within the sections */
.upper_section, .lower_section {
   display: grid;
   grid-template-rows: repeat(4, 1fr);
   gap: 20px;
}

/* Rule for the sibe bar items */
.item {
   display: flex;
   gap: 1rem; 
   align-items: center;
}

/* Positioning the second item of the lower section */
.lower_section img {
   grid-row: 4/5;
   justify-self: right;
}

/* Push the footer icons down */
.lower_section {
   margin-bottom: 3rem;
}

/* Layout of the footer section, of the sidebar */
footer {
   display: flex;
   justify-content: space-around;
}

/* MAIN AREA RULES */
/* Layout for the top ribbob */
.ribbon1 {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   padding-top: 20px;
   margin-bottom: 1.5rem;
}

/* Rules for the right icons, Top */
.right_icons {
   display: flex;
   justify-content: space-around;
}

/* Gap for the top ribbon */
.ribbon1 .item {
   gap: 0.5rem; 
}

/* Layout of the second ribbon */
.ribbon2 {
   background-color: yellow;
}

.top span {
   display: flex;
   gap: 10px;
   align-items: center;
}

/* Rule for the tick button */
input[type = "radio"] {
   width: 1rem;
}

/* Layout for the bottom part of the second ribbon */
.bottom {
   display: grid;
   grid-template-columns: 3fr 1fr;
   align-items: center;
   gap: 3rem;
}

/* Structure of the button */
button {
   height: 1.5rem; 
   width: 2rem; 
   justify-self: right;
   margin-right: 1.5rem;
}

.ribbon {
   margin-right: 15px;
}


